* {
    padding: 0px;
    /* zerando a distancia */
    margin: 0px;
    /* zerando a margem */
    box-sizing: border-box;
    /* define o formato de espaçamento */
}

.cabecalho {

    width: 100vw;
    /* 100% da horizontal */
    height: 71px;
    background-color: #3750b3;
    display: flex;
    /* coloca um texto ao lado do outro */
    justify-content: space-between;
    /* coloca os elementos nos cantos */
    align-items: center;
}

.cabecalho p {
    /* usado para aplicar apenas para os P do cabecalho */

    color: white;
    margin-right: 20px;
    /* coloca uma margem a direita */

}

.right {
    display: flex;
    margin-right: 60px;
    justify-content: space-between;
}

.left {
    margin-left: 10vw;
    /* coloca uma margem a esquerda */
}

.caixa-da-image {
    display: flex;
    justify-content: center;
    width: 100vw; 
    margin-left: 5vw;
    
}

.caixa-da-image img{

    padding-right: 100px;
}

.textos{
    font-size: 2vw;
    margin-left: 10vw;
    margin-top: 100px;
    
    }